<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title> Portal</title>

    <style>
        .navbar {
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .my-btn {
            display: inline-block;
            padding: 12px 30px;
            font-size: 18px;
            font-weight: 600;
            border-radius: 5px;
            text-align: center;
            margin: 0 10px;
            transition: all 0.3s ease;
        }

        .my-btn {
            border-radius: 20px;
        }

        .my-btn:hover {
            transform: translateY(-3px);
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRt71WkquX6XSQKbD-cpx989SeZJJf8krli0a6g251Lm7Wy_qZVS7kMLOGb5dMjV_idC58&usqp=CAU"
                width="90" height="90" alt="">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUHE_CS1qoGS22oePkFFpAzzLFLx3xE7-hdOaHpJFFeFGloz3vcI89Z9uuyaUftWKhk5k&usqp=CAU"
                width="90" height="90" alt="">
            </h1>Universidade do Minho</h1>
        </a>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Portal <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cálculo e Análise
                    </a>
                    <div class="dropdown-menu active" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/continuidade">Continuidade</a>
                        <a class="dropdown-item" href="/interactive-graphic">Gráfico Exemplo</a>
                        <a class="dropdown-item" href="#">Outra funcao</a>
                    </div>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Álgebra
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Outra funcao</a>
                        <a class="dropdown-item" href="#">Outra funcao</a>
                    </div>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Estatística
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Outra funcao</a>
                        <a class="dropdown-item" href="#">Outra funcao</a>
                    </div>
                <li class="nav-item active">
                    <a class="nav-link" href="/sabermais/">Sobre nós</a>
                </li>
            </ul>
            <form class="login-button">
                <a class="my-btn btn-primary my-2 my-sm-0" href="/login" >Login</a>
            </form>
        </div>
    </nav>
    <p>
        {%block content%}
        {%endblock%}
    </p>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>