{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html>

<head>
    <style>
        .graph-block{text-align: center;}

    </style>

    <title>Interactive Graphic</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function () {
            // Initialize the plot with the default frequency
            $('#plot').attr('src', '/plot/1.0');

            // Update the plot when the slider is changed
            $('input[type="range"]').on('input', function () {
                var freq = $(this).val();
                var x = parseFloat(freq).toFixed(1)
                $('#plot').attr('src', '/plot/' + x);
            });
        });
    </script>
</head>

<body>
    <div class="graph-block">
        <h1>Gráfico Interativo Exemplo</h1>
        <div>
            <label for="freq">Frequência:</label>
            <input type="range" id="freq" min="0" max="10" value="1" step="0.1">
            <img id="plot" src="{{ url_for('interactive_graphic', freq=5) }}" alt="Plot">
            <div id="slider" class="my-slider"></div>
        </div>
</body>


</html>
{% endblock %}