{% extends "base.html" %}
{% block content %}

<div class="container">
        {% if user %}
        <h1> Bem vindo {{ user }} !!</h1>

        {%else%}
        <h1> Login </h1>
        <br />
        <form method="POST">
            {{form.hidden_tag()}}

            {{form.user.label(class="form-label")}}
            {{form.user(class="form-control")}}
            <br/>
            {{form.password.label(class="form-label")}}
            {{form.password(class="form-control")}}
            <br />
            {{form.submit(class="btn btn-primary")}}
        </form>
        {%endif%}
</div>



{%endblock%}

<style>
    .container {
        text-align: center;
    }
</style>