{% extends "base.html" %}

{% block content %}
<main>

  <article>

    <header class="text-center">
      <h1>{{ post[1] }}</h1>
    </header>

    {% if post[3] %}
    {% if post[3].endswith(('jpg', 'jpeg', 'gif', 'png')) %}
    {% set file_path = post[3].split('static', 1)[-1].lstrip('\\/') %}
    <figure class="text-center">
      <img width="320" height="240" src="{{ '../static/' ~ file_path }}" alt="">
    </figure>
    {% elif post[3].endswith('mp4') %}
    {% set file_path = post[3].split('static', 1)[-1].lstrip('\\/') %}
    <figure class="text-center">
      <video width="320" height="240" controls>
        <source src="{{ '../static/' ~ file_path }}" type="video/mp4">
        Seu navegador não suporta o elemento de vídeo.
      </video>
    </figure>
    {% endif %}
    {% endif %}
    <div class="card">
      <div class="card-header">
        Resumo
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          {{ post[2]|safe }}
        </blockquote>
      </div>
    </div>


  </article>
</main>
{% endblock %}