{% extends "base.html" %}
{% block content %}

<style>
    input[type=email] {
        padding: 10px;
        border-radius: 5px;
        border: none;
        width: 100%;
        margin-bottom: 10px;
        font-size: 16px;
    }
</style>

<div class="container-login">
    <h2>Solicitação de redefinição de senha</h2>
    <form method="POST" action="{{ url_for('reset_password') }}">
        <label>E-mail:</label>
        <input type="email" name="email" required><br>
        <input type="submit" value="Enviar" class="btn btn-primary">
    </form>
</div>
{% endblock %}