<!DOCTYPE html>
<html>
  <body>
    <p>Olá {{ user.nome }},</p>
    <p>Recebemos um pedido para redefinir a senha da sua conta.</p>
    <p>Para continuar, clique no link abaixo:</p>
    <p><a href="{{ url_for('reset_password_confirm', token=token, _external=True) }}">{{ url_for('reset_password_confirm', token=token, _external=True) }}</a></p>
    <p>Se você não solicitou esta redefinição, por favor, ignore este e-mail.</p>
    <p>Obrigado,</p>
    <p>A equipe da sua aplicação</p>
  </body>
</html>
